In [ ]:
#First code fragment
a = 2 + 6
print('a =',a)
a = 3.14 + 6.26
print('a =',a)
a = 'Hello World'
print('a =',a)

In [ ]:
#Second code fragment
help(len)

In [ ]:
len?

#### Listing 1.1

In [ ]:
#Listing 1.1
firstName = 'Mia'
surname = "Wright"
username = firstName + " " + surname
print('The username is',username)

fullname = str('Mia Wright')
print('The full name is',fullname)

In [ ]:
#Third text fragment
num = 11
str_num = str(num)
str_num

In [ ]:
#Fourth text fragment
print(str_num)
print(repr(str_num))
print('Type of str_num is:',type(str_num))

#### Listing 1.2

In [ ]:
#Listing 1.2
myList = [1, 2, 6, 10, 'Hello']
myList.append('!')
print('myList is', myList)
myList.insert(0, 's')
L = len(myList)
print('myList is', myList)
print('The length of myList is', L)

mystring = str('124')
print('Convert mystring to a list', list(mystring))

In [ ]:
len?

In [ ]:
help(range)

#### Listing 1.3

In [ ]:
#Listing 1.3
t1 = (1,2,3)
t2 = 1,2,3
t3 = tuple([1,2,3])
t4 = tuple((1,2,3))
print('\nt1 is:', t1,'\nt2 is:', t2, '\nt3 is:', t3, '\nt4 is:', t4)

t5 = tuple('abc')
print('\nt5 is:',t5)

t6 = 'abc',
t7 = tuple(('abc',))
print('\nt6 is:', t6,'\nt7 is:', t7)

In [ ]:
#tuple(123)
#tuple(1,2,3)

In [ ]:
#Fifth text fragment
myDictionary = {'Peter':68, 'Mary':59 , 'Anna':81 , 'David':50, 'Joe': 62}
myDictionary

In [ ]:
#Sixth text fragment
strangeDictionary = {'Peter':68, 26:True, 3.147:'John', 'Fred': ['apple', 'pear', 'banana']}
print(strangeDictionary)
print(strangeDictionary['Peter'])
print(strangeDictionary[26])
print(strangeDictionary[3.147])
print(strangeDictionary['Fred'])

#### Listing 1.4

In [ ]:
#Listing 1.4
mydict1 = {
    'Ann': {'year': '5', 'score': 87},
    'Tim': {'year': '6', 'score': 90}
}
print('mydict1:',mydict1)
mydict2 = dict([
    ('Ann', ('Year 5', 87)),
    ('Tim', ('Year 6', 90))
])
print('mydict2',mydict2)

In [ ]:
#Seventh text fragment
mydict1['Ann']

#### Listing 1.5

In [ ]:
#Listing 1.5
mydict2['Lila'] =('Year 6', 89)
mydict2['Tim'] = ('Year 6', 91)
del mydict2['Ann']
mydict2

#### Listing 1.6

In [ ]:
#Listing 1.6
x = -5
y = 3

print(x < y)
print(x == y)
print(type(True))

In [ ]:
import numpy as np
np.__version__

In [ ]:
help(np)

In [ ]:
np?

In [ ]:
#In this box, on the next line, type np. then press Tab key.  Or just type np. and get alist if not running Jupyter notebook

In [ ]:
import numpy.linalg as la
from numpy import random

#### Listing 1.7

In [ ]:
#Listing 1.7
str1 = 'Python'
print(str1.__class__)
newlist = [1, 2, 3]
print(newlist.__len__)
print(newlist.__len__())

In [ ]:
dir(str)

In [ ]:
dir(list)

#### Listing 1.8

In [ ]:
#Listing 1.8
length = str1.upper().__len__()
print(str1.upper())
print(length)

In [ ]:
#In this box, on the next line, type str1. (including the dot). Then press the Tab key.

#### Listing 1.9 NumPy

In [ ]:
#Listing 1.9
import numpy as np
a = np.array([-1, 3.2, 1.4])
print(type(a))
print('a:',a)
print('The type of array a:',a.dtype)
print('The number of dimensions of a:',a.ndim)
print('The size of a:',a.shape)
A = np.array([[-1], [3.2], [1.4]])
print(type(A))
print('A:\n',A)
print('The type of array A:',A.dtype)
print('The number of dimensions of A:',A.ndim)
print('The size of A:',A.shape)
A1 = np.array([[-1,2], [3.2, 4.5], [1.4,-2.3]])
print(type(A1))
print('A1:\n',A1)
print('The type of array A1:',A1.dtype)
print('The number of dimensions of A1:',A1.ndim)
print('The size of A1:',A1.shape)

#### Listing 1.10

In [ ]:
#Listing 1.10
import numpy as np
np.random.seed(421)
m = np.random.randint(5, size=6)
print('Array m:', m)
sorted_m = np.sort(m)
print('Sorted array m:', sorted_m)
print('First element of m:', m[0])
print('Last three elements:', m[3:6])
print('Elements on the even positions in m:',m[1:6:2])
print('Sum of m:', np.sum(m))
print('Mean of m:', np.mean(m))
print('Max of m:', np.max(m))
print('Min of m:', np.min(m))

#### Listing 1.11

In [ ]:
#Listing 1.11
import numpy as np
np.random.seed(421)
n = np.random.randint(8, size=(2,3))
print('Array n:\n', n)
sorted_n = np.sort(n)
print('Sorted array n:\n', sorted_n)
print('First row of n:', n[0,:])
print('Last two columns of n:\n', n[:, 1:3])
print('Sum of each row in n:', np.sum(n, axis=1))
print('Mean of each column in n:', np.mean(n, axis=0))
print('Max of each row in n:', np.max(n, axis=1))
print('Min of each column in n:', np.min(n, axis=0))
print('Sum of n:', np.sum(n))

In [ ]:
#Listing 1.12
from sympy import FiniteSet, Union
x = FiniteSet(1,2,3,4,5)
y = FiniteSet (4,5,6,7,8)
u = Union(x,y)
print('u =',u)

In [ ]:
#Listing 1.13
import sympy as sp
x = sp.Symbol('x')
function = sp.sin(x) * sp.exp(x)
derivative = sp.diff(function,x)
print('f\'(x) =', derivative)

In [ ]:
#Listing 1.14
from sympy import symbols
from sympy.stats import Uniform, E
a, b = symbols ('a b')
X = Uniform ('x', a, b)
Mean = E(X)
print('Mean is ',Mean)

#### Listing 1.15 - Pandas

In [ ]:
#Listing 1.15
import pandas as pd

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
column_names = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
df = pd.read_csv(url, header=None, names=column_names)
print('The size of the data is:',df.shape)
print('The top five data items:\n',df.head())
print('Row index:', df.index)
print('Column index:', df.columns)
print('Data obtained using Index:\n', df.loc[3:4,['sepal_width', 'petal_length']])
print('Data obtained using iloc indexer:\n',df.iloc[3:5,1:3])

In [ ]:
df['sepal_length']

In [ ]:
from sklearn import datasets

iris_dataset = datasets.load_iris()

#### Listing 1.16

In [ ]:
#Listing 1.16
from sklearn.datasets import load_iris
import pandas as pd

iris_dataset = load_iris()
print(type(iris_dataset))
print(iris_dataset.keys())

print('Feature Names:', iris_dataset.feature_names)
print('Target Names (species):', iris_dataset.target_names)
print('The type of the Iris data:', type(iris_dataset.data))
print('The size of the Iris data:', iris_dataset.data.shape)

iris_df = pd.DataFrame(
    iris_dataset.data,
    columns=iris_dataset.feature_names
)
print('\nThe top two rows of iris_df\n', iris_df.head(2))

#### Listing 1.17

In [ ]:
#Listing 1.17
from sklearn.datasets import load_iris
import matplotlib.pyplot as plt

iris = load_iris()
X = iris.data
y = iris.target
target_names = iris.target_names
sizes = ((X[:, 2] - X[:, 2].min()) / (X[:, 2].max() - X[:, 2].min())) * 150

fig, axes = plt.subplots(1, 2, figsize=(12, 5))

axes[0].plot(X[y == 0, 0], X[y == 0, 1], 'o', label='Setosa')
axes[0].plot(X[y == 1, 0], X[y == 1, 1], '^', label='Versicolor')
axes[0].plot(X[y == 2, 0], X[y == 2, 1], 'd', label='Virginica')
axes[0].set_xlabel('Sepal length (cm)')
axes[0].set_ylabel('Sepal width (cm)')
axes[0].legend()

scatter = axes[1].scatter(X[:, 0], X[:, 1], c=y, s=sizes, cmap='viridis')
axes[1].set_xlabel('Sepal length (cm)')
axes[1].set_ylabel('Sepal width (cm)')
legend_cbar = fig.colorbar(scatter, ax=axes[1], ticks=[0, 1, 2])
legend_cbar.ax.set_yticklabels(target_names)

plt.tight_layout()
plt.savefig("iris.eps", format='eps', dpi=600)

In [ ]:
sizes

In [ ]:
print(type(axes))
print(axes.shape)
print(type(fig))

#### Listing 1.18 - If statement

In [ ]:
#Lising 1.18
userInput = input('Enter 1, 2 or 3:')
if (userInput == '1') | (userInput == '2'):
    print ('Hello!')
elif (userInput == '3'):
    print ('Hi!')
else:
    print ('You did not enter a valid number.')

#### Listing 1.19

In [ ]:
#Listing 1.19
userInput = input('Enter 1, 2 or 3:')

print('Hello') if (userInput == '1') | (userInput == '2') else (print('Hi!') if userInput == '3' else (print('You did not enter a valid number.')))

#### Listing 1.20 - for loop

In [ ]:
#Listing 1.20 - the for loop
names = ['David', 'Mary', 'Joe', 'Anne']
for name in names:
    print(name)

#### Listing 1.21 - While loop

In [ ]:
#Listing 1.21
number = 4
while number > 0:
    print('number = ', number)
    number = number - 1

#### Listing 1.22 - Define your own function

In [ ]:
#Listing 1.22
def divide(a,b):
    if a % b == 0:
        c = a/b
    else:
        c = round(a/b, 2)
    return c

x1 = 10
y1 = 2
result1 = divide(x1, y1)
print('x1/y1:', result1)

x2 = 8
y2 = 3
result2 = divide(x2, y2)
print('x2/y2:', result2)

#### Listing 1.23

In [ ]:
#Listing 1.23
import matplotlib.pyplot as plt
import numpy as np

f = lambda x,a: -a*x**2

a=2
x = np.linspace(-5,5)
y=f(x,a)

plt.plot(x,y)
plt.xlabel('x'), plt.ylabel('y')
plt.savefig('function.eps', format='eps', dpi=600)

In [ ]:
print??

In [ ]:
len?